body {
  padding: 0;
  margin: 0;
  background: #fff;
  line-height: 1.5;
  color: rgba(0, 0, 0, .65);
  font-size: 14px;
  font-family: 
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  font-variant: tabular-nums;
}

a{
    text-decoration: none;
}

.header {}


::placeholder {
    color: gray;
}

.image {
    background-image: url('../images/time.jpg');
}

@media (min-resolution: 2dppx) {
    .image {
        background-image: url('../images/time.jpg');
    }
}



.layout{
    background: #f0f2f5;
}
.el-header,
.el-footer {
    // background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
}
.el-header {
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
    line-height: 64px;
    .header_right{
        float: right;
        height: 100%;
        margin-left: auto;

    }
}
.el-aside {
    background-color: #001529;
    color: #333;
    text-align: center;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
    .el-menu{
        border-right: solid 1px #001529;
        background: #001529;
    }
    .el-menu-item,
    .el-submenu__title {
        color: #fff;
        text-align: left;
    }
    .menu_logo{
        padding: 0 24px;
        a{
            display: flex;
            align-items: center;
            height: 64px;
        }
        img {
            height: 32px;
        }
        h1 {
            display: inline-block;
            margin: 0 0 0 12px;
            color: #fff;
            font-weight: 600;
            font-size: 20px;       
        }
    }   
}
.el-main {
    background: transparent;
    color: #24313c;
    text-align: center;
    border-top-left-radius: .1875rem;
    border-top-right-radius: .1875rem;
    // line-height: 160px;
}